body {
  font-family: -apple-system, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* the --underline will provide the underline for the active menu item */
  --underline-left: 50%;
  --underline-width: 0; 
  color: gray;
  font-weight: lighter;
  border-bottom: 1px solid gray;
}

nav a {
  padding: .5rem;
  margin: 0 1rem;
  cursor: pointer;
}

/* creates a pseudo element that will be used as the  */
nav::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: var(--underline-left);
  width: var(--underline-width);
  height: 0.5px;
  background: black;
  transition: .2s ease-in-out;
}

a:hover {
  color: lightskyblue;
}

.selected {
  color: black;
}

/* styles for the time display */
#time-container {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-weight: lighter;
  text-align: center;
}

/* starting with display: none to hide time until click */
#time-div {
  display: none;
  margin: auto;
  padding-top: 1rem;
}

/* start with hidden button */
#close-button {
  display: none;
}

/* styling for button to hide time */
button {
  background-color: gray;
  width: 5rem;
  height: 2rem;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  margin-top: .5rem;
  border: none;
  border-radius: 4px;
  box-shadow: outset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
  float: right;
}

button:hover {
  background-color: darkgrey;
  box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
}